{{ define "header" }}
{{ $cv := resources.Get "cv/cv.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ $cv.Permalink }}"/>
{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content container-fluid" id="content">
      {{ partial "cv/header.html" . }}
      <div class="resume-section">
          {{ partial "cv/about.html" . }}
      </div>
      <div class="resume-section">
          {{ partial "cv/skills.html" . }}
      </div>
      <div class="resume-section">
          {{ partial "cv/experience.html" . }}
      </div>
      <div class="resume-section">
          {{ partial "cv/education.html" . }}
      </div>
      <div class="resume-section">
          {{ partial "cv/interests.html" . }}
      </div>
  </div>
</section>
{{ end }}

