<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');

    function trackClick(cat,action,label) {
        let tracker = ga.getAll()[0];
        if (tracker)
            tracker.send("event", cat, action, label);
    }
</script>
