<div id="experience" class="container">
    <h3 class="text-center">Experience</h3>
    {% for item in site.data.experience %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <h4>{{ item.company }}</h4>
            <p class="text-muted">{{ item.title }}</p>
            <p class="text-muted font-italic">{{ item.date }}</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <p>{{ item.body | markdownify}}</p>
        </div>
    </div>
    <div class="row skill-row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <p class="text-muted text-sm-right">Skills</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 text-center text-md-left">
            <p>
                {% for skillhash in item.skills %}
                {% assign skill = site.data.skills[skillhash] %}
                {% if skill.title %}
                <a href="{{ skill.href }}" title="{{ skill.title }}" class="skill">
                    <img class="no-print" alt="{{ skill.title }}" src="{{ "/assets/images/skills/" | prepend: site.baseurl | append: skill.img }}"/>
                    <span class="print">{{ skill.title }}</span>
                </a>
                {% else %}
                {{skillhash}}
                {% endif %}

                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>