<div id="testimonials" class="container no-print text-center text-sm-left">
    <h3 class="text-center">Testimonials</h3>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="container">
        <ol class="carousel-indicators">
            {{ range $index, $item := (index site.Data site.Language.Lang).sections.testimonials.testimonials }}
            <li data-target="#testimonial-carousel" data-slide-to="{{ $index }}" class="{{ if $index = 0 }} active{{ end }}"></li>
            {{ end }}
        </ol>
        <div class="carousel-inner">
            {{ range $index, $item := (index site.Data site.Language.Lang).sections.testimonials.testimonials }}
            <div class="carousel-item{{ if lt $index 1 }} active{{ end }}">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        {{ if $item.img }}
                        <p>
                            {{ $logoImage := resources.Get .img }}
                            <a href="{{ $item.link }}"><img src="{{ $logoImage.RelPermalink }}"></a>
                        </p>
                        <p>{{ $item.by }}</p>
                        {{ else }}
                        <p><a href="{{ $item.link }}">{{ $item.by }}</a></p>
                        {{ end }}
                        <p class="text-muted font-italic">{{ $item.date }}</p>
                    </div>
                    {{ $id := print "testimonial-" $index }}
                    <div class="col-xs-12 col-sm-8 col-md-9 testimonial">
                        <div id="{{ $id }}" class="collapse body" aria-expanded="false">
                            {{ $item.body | markdownify }}
                        </div>
                        <a role="button" class="collapsed" data-toggle="collapse" href="#{{ $id }}" aria-expanded="false" aria-controls="{{ $id }}"></a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    </div>
</div>