<div class="resume-section">
    <div class="title">Experience</div>
    {{ range (index site.Data site.Language.Lang).sections.experiences.experiences }}
    {{ $co := .company }}
    {{ range .positions }}
    <div class="item">
        <div class="item-subheader text-muted">
            <h5>{{ $co.name }}</h5>
            <span>{{ $co.location }}</span>
        </div>
        <div class="item-subheader">
            <h5>{{ .designation }}</h5>
            <span>{{ .start }} - {{ if .end }}{{ .end }}{{ else }}Present{{ end }}</span>
        </div>
        <div class="item-details">
            {{ if .responsibilities }}
            <div class="responsibilities-header h6">Responsibilities</div>
            <div class="responsibilities-details">
                {{ if reflect.IsSlice .responsibilities }}
                <ul>
                    {{ range .responsibilities }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                {{ else }}
                {{ .responsibilities | markdownify }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="achievements-details">
            {{ if .achievements }}
            <div class="achievements-header h6">Achievements</div>
            <div class="achievements-details">
                <ul>
                    {{ range .achievements }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
        <div class="skills-details">
            {{ if .skills }}
            <div class="skills-header h6">Skills</div>
            <div class="skills-details">
                <ul class="list-inline">
                    {{ range .skills }}
                    <li class="list-inline-item">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>