{{ $author := site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
{{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

<div class="resume-header">
    <h1>{{ $author.name }}</h1>
    <p>Polyglot Full Stack Software Engineer</p>
    <ul>
        <li>{{ $author.contactInfo.phone }}</li>
        <li>{{ $author.contactInfo.email }}</li>
        {{ range (index site.Data site.Language.Lang).sections.about.socialLinks }}
        <li>
            <a href="{{ .url }}" onclick="trackClick('Social','{{ .name }}', this.href);">
                <i class="{{ .icon }} no-print"></i>
                <span class="print">{{ .url }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
