<div class="resume-section">
    <div class="title">Skills</div>
    <div class="skills-details">
        {{ $categories := slice }}
        {{ range (index site.Data site.Language.Lang).sections.skills.skills }}
        {{ if not (in $categories .cat) }}
        {{ $categories = $categories | append .cat }}
        {{ end }}
        {{ end }}

        {{ range $category := $categories }}
        <div class="skill-category">
            <div class="h6">{{ $category }}</div>
            <ul class="list-inline">
                {{ range (index site.Data site.Language.Lang).sections.skills.skills }}
                {{ if eq .cat $category }}
                {{ if not .hideFromCV }}
                <li class="list-inline-item">{{ .title }}&nbsp;</li>
                {{ end }}
                {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
